{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>co_in_login</title>
<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="/static/css/co_in_login.css"/>
<script id="applicationScript" type="text/javascript" src="/static/javascript/co_in_login.js"></script>
</head>
<body>
<div id="co_in_login">
	<div id="n_44">
		<div id="n_42">
			<svg class="n_16" viewBox="0 0 1920 56">
				<path id="n_16" d="M 0 0 L 1920 0 L 1920 56 L 0 56 L 0 0 Z">
				</path>
			</svg>
			<svg class="n_21" viewBox="0 0 1920 164">
				<path id="n_21" d="M 0 0 L 1920 0 L 1920 164 L 0 164 L 0 0 Z">
				</path>
			</svg>
			<div id="Text">
				<span>(주)페이팅</span>
			</div>
			<div id="n_">
				<span>회사소개 </span>
			</div>
			<div id="Text_bj">
				<span>개인정보처리방침</span>
			</div>
			<div id="Text_bk">
				<span>이용약관</span>
			</div>
			<div id="Text_bl">
				<span>청소년보호방침</span>
			</div>
			<div id="Text_bm">
				<span>고객센터</span>
			</div>
			<svg class="n_3" viewBox="0 0 1 12">
				<path id="n_3" d="M 0 0 L 0 12">
				</path>
			</svg>
			<svg class="n_6" viewBox="0 0 1 12">
				<path id="n_6" d="M 0 0 L 0 12">
				</path>
			</svg>
			<svg class="n_4" viewBox="0 0 1 12">
				<path id="n_4" d="M 0 0 L 0 12">
				</path>
			</svg>
			<svg class="n_7" viewBox="0 0 1 12">
				<path id="n_7" d="M 0 0 L 0 12">
				</path>
			</svg>
			<svg class="n_5" viewBox="0 0 1 12">
				<path id="n_5" d="M 0 0 L 0 12">
				</path>
			</svg>
			<svg class="n_8" viewBox="0 0 1 12">
				<path id="n_8" d="M 0 0 L 0 12">
				</path>
			</svg>
			<div id="Text_bt">
				<span>제휴서비스</span>
			</div>
			<div id="Text_bu">
				<span>파트너센터</span>
			</div>
			<svg class="n_18" viewBox="0 0 8 4">
				<path id="n_18" d="M 3.999999523162842 0 L 7.999999523162842 4 L 4.96568775177002 4 L 0 4 L 0.5857831835746765 3.414216756820679 L 3.999999523162842 0 Z">
				</path>
			</svg>
			<svg class="n_18_bw" viewBox="0 0 8 4">
				<path id="n_18_bw" d="M 3.999999523162842 0 L 7.999999523162842 4 L 4.96568775177002 4 L 0 4 L 0.5857831835746765 3.414216756820679 L 3.999999523162842 0 Z">
				</path>
			</svg>
			<svg class="n_20" viewBox="0 0 1920 1">
				<path id="n_20" d="M 0 0 L 1920 0 L 1920 1 L 0 1 L 0 0 Z">
				</path>
			</svg>
			<div id="n_39">
				<svg class="n_22" viewBox="0 0 95.001 25">
					<path id="n_22" d="M 0 0 L 34.123046875 0 L 95.0008544921875 0 L 95.0008544921875 25 L 0 25 L 0 0 Z">
					</path>
				</svg>
				<div id="n_1______">
					<span>1:1 문의하기     </span>
				</div>
				<svg class="n_23" viewBox="0 0 8 4">
					<path id="n_23" d="M 3.999999523162842 0 L 7.999999523162842 4 L 4.96568775177002 4 L 0 4 L 0.5857831835746765 3.414216756820679 L 3.999999523162842 0 Z">
					</path>
				</svg>
			</div>
			<div id="n_555-2222">
				<span>1555-2222</span>
			</div>
			<div id="n__b">
				<span>대표이사: 이한빈</span>
			</div>
			<div id="n_____55">
				<span>전라남도 광주광역시 서구 치평동 상무누리로 55</span>
			</div>
			<svg class="n_9" viewBox="0 0 1 12">
				<path id="n_9" d="M 0 0 L 0 12">
				</path>
			</svg>
			<svg class="n_10" viewBox="0 0 1 12">
				<path id="n_10" d="M 0 0 L 0 12">
				</path>
			</svg>
			<svg class="n_11" viewBox="0 0 1 12">
				<path id="n_11" d="M 0 0 L 0 12">
				</path>
			</svg>
			<div id="n__">
				<span>사업자 등록번호 :</span>
			</div>
			<div id="n_22-11-333333">
				<span>222-11-333333</span>
			</div>
			<div id="Text_ca">
				<span>고객센터</span>
			</div>
			<div id="n____0900__1800____">
				<span></span><br/><span style="font-style:normal;font-weight:normal;letter-spacing:-0.25px;">운영시간 : 평일 09:00 ~ 18:00</span><br/><span style="font-style:normal;font-weight:normal;font-size:13px;letter-spacing:-0.25px;">고객센터 바로가기</span><span style="font-style:normal;font-weight:normal;"> </span><span> </span>
			</div>
			<div id="n__cc">
				<span> </span>
			</div>
			<div id="n_2023--9999">
				<span>통신판매업신고: 2023-광주치평동-9999</span>
			</div>
			<svg class="n_24" viewBox="497.868 2216.487 4 8">
				<path id="n_24" d="M 497.8683166503906 2216.48681640625 L 501.8683166503906 2220.64990234375 L 497.8683166503906 2224.48681640625">
				</path>
			</svg>
			<svg class="n_25" viewBox="710 1901 176.415 1">
				<path id="n_25" d="M 710 1901 L 886.41455078125 1901">
				</path>
			</svg>
			<svg class="n_12" viewBox="0 0 1 12">
				<path id="n_12" d="M 0 0 L 0 12">
				</path>
			</svg>
			<div id="E_mail__sunjoroun99gmailcom_">
				<span>E_mail : sunjoroun99@gmail.com </span>
			</div>
		</div>
	</div>
	<svg class="n_144">
		<rect id="n_144" rx="0" ry="0" x="0" y="0" width="1280" height="1078">
		</rect>
	</svg>
	<svg class="n_145">
		<rect id="n_145" rx="0" ry="0" x="0" y="0" width="1920" height="1">
		</rect>
	</svg>
	<div id="n___ck">
		<span>동네 반려생활 </span>
	</div>
	<div id="writingikon">
		<svg class="n_111" viewBox="0 0 101 41">
			<path id="n_111" d="M 11 0 L 90 0 C 96.07513427734375 0 101 4.924867630004883 101 11 L 101 30 C 101 36.07513427734375 96.07513427734375 41 90 41 L 11 41 C 4.924867630004883 41 0 36.07513427734375 0 30 L 0 11 C 0 4.924867630004883 4.924867630004883 0 11 0 Z">
			</path>
		</svg>
		<div id="Text_cn">
			<span>글쓰기</span>
		</div>
	</div>
	<svg class="n_146">
		<rect id="n_146" rx="0" ry="0" x="0" y="0" width="98" height="24">
		</rect>
	</svg>
	<div id="Text_cp">
		<span></span>
	</div>
	<div id="n_3_cq">
		<span>총 3건</span>
	</div>
	<svg class="n_119" viewBox="0 0 1280 1">
		<path id="n_119" d="M 0 0 L 1280 0">
		</path>
	</svg>
	<div id="n_______">
		<span>저희 강아지 하루  맡아주실 분 구합니다 (급해요)</span>
	</div>
	<div id="n_________">
		<span>갑자기 급하게 타지에 갈 일이 생겼는데 맡아주실 분도 없고 ...</span>
	</div>
	<div id="rmqgka0">
		<span>rmqgka0</span>
	</div>
	<svg class="n_154">
		<rect id="n_154" rx="10" ry="10" x="0" y="0" width="920" height="625">
		</rect>
	</svg>
	<img id="new" src="/static/img/new.png" srcset="/static/img/new.png 1x, new@2x.png 2x">
		
	<img id="comment" src="/static/img/comment.png" srcset="/static/img/comment.png 1x, comment@2x.png 2x">
		
	<div id="n_2">
		<span>댓글 </span><span style="color:rgba(158,192,252,1);">2</span><span>개</span>
	</div>
	<div id="view">
		<img id="view_c" src="/static/img/view_c.png" srcset="/static/img/view_c.png 1x, view_c@2x.png 2x">
			
		<div id="n_8_c">
			<span>68</span>
		</div>
	</div>
	<img id="KakaoTalk_20230830_201543311" src="/static/img/KakaoTalk_20230830_201543311.png" srcset="/static/img/KakaoTalk_20230830_201543311.png 1x, KakaoTalk_20230830_201543311@2x.png 2x">
		
	<svg class="n_156">
		<rect id="n_156" rx="10" ry="10" x="0" y="0" width="920" height="128">
		</rect>
	</svg>
	<svg class="n_157">
		<rect id="n_157" rx="0" ry="0" x="0" y="0" width="920" height="1">
		</rect>
	</svg>
	<div id="Text_c">
		<span>이전</span>
	</div>
	<div id="Text_da">
		<span>다음</span>
	</div>
	<img id="left-chevron" src="/static/img/left-chevron.png" srcset="/static/img/left-chevron.png 1x, left-chevron@2x.png 2x">
		
	<img id="left-chevron_c" src="/static/img/left-chevron_c.png" srcset="/static/img/left-chevron_c.png 1x, left-chevron_c@2x.png 2x">
		
	<svg class="n_158">
		<rect id="n_158" rx="0" ry="0" x="0" y="0" width="920" height="1">
		</rect>
	</svg>
	<svg class="n_161">
		<rect id="n_161" rx="0" ry="0" x="0" y="0" width="920" height="1">
		</rect>
	</svg>
	<svg class="n_159">
		<rect id="n_159" rx="0" ry="0" x="0" y="0" width="840" height="1">
		</rect>
	</svg>
	<svg class="n_160">
		<rect id="n_160" rx="0" ry="0" x="0" y="0" width="920" height="1">
		</rect>
	</svg>
	<div id="wpqlsl">
		<span>wpqlsl</span>
	</div>
	<div id="n_023-08-30">
		<span>2023-08-30</span>
	</div>
	<div id="n_023-08-30_df">
		<span>2023-08-30</span>
	</div>
	<div id="n________dg">
		<span>저요.  프로필 누르시면 펫케어 게시글 올렸어요! </span>
	</div>
	<div id="n__dh">
		<span>제가 맡아드릴게요.</span>
	</div>
	<div id="n________di">
		<span>저희 강아지 하루  맡아주실 분 구합니다 (급해요)</span>
	</div>
	<div id="n_023-08-30_dj">
		<span>2023-08-30</span>
	</div>
	<div id="rmqgka0_dk">
		<span>rmqgka0</span>
	</div>
	<img id="or" src="/static/img/or.png" srcset="/static/img/or.png 1x, or@2x.png 2x">
		
	<div id="Rhcrkak22">
		<span>Rhcrkak22</span>
	</div>
	<img id="or_dn" src="/static/img/or_dn.png" srcset="/static/img/or_dn.png 1x, or_dn@2x.png 2x">
		
	<img id="or_do" src="/static/img/or_do.png" srcset="/static/img/or_do.png 1x, or_do@2x.png 2x">
		
	<img id="dots" src="/static/img/dots.png" srcset="/static/img/dots.png 1x, dots@2x.png 2x">
		
	<img id="dots_dq" src="/static/img/dots_dq.png" srcset="/static/img/dots_dq.png 1x, dots_dq@2x.png 2x">
		
	<img id="dots_dr" src="/static/img/dots_dr.png" srcset="/static/img/dots_dr.png 1x, dots_dr@2x.png 2x">
		
	<svg class="n_122" viewBox="0 0 730 45">
		<path id="n_122" d="M 22.5 0 L 707.5 0 C 719.9263916015625 0 730 10.07359218597412 730 22.5 C 730 34.92640686035156 719.9263916015625 45 707.5 45 L 22.5 45 C 10.07359218597412 45 0 34.92640686035156 0 22.5 C 0 10.07359218597412 10.07359218597412 0 22.5 0 Z">
		</path>
	</svg>
	<svg class="n_163">
		<rect id="n_163" rx="11" ry="11" x="0" y="0" width="90" height="45">
		</rect>
	</svg>
	<div id="Text_du">
		<span>등록</span>
	</div>
	<div id="n___">
		<span>댓글을 입력해주세요  </span>
	</div>
	<div id="n___dw">
		<span>이전 글이 없습니다</span>
	</div>
	<div id="n_____">
		<span>혹시 산책 같이 시키실 분 계신가요?</span>
	</div>
	<svg class="n_164">
		<rect id="n_164" rx="17" ry="17" x="0" y="0" width="144" height="57">
		</rect>
	</svg>
	<div id="n__dz">
		<span>목록으로 </span>
	</div>
	<img id="options-lines" src="/static/img/options-lines.png" srcset="/static/img/options-lines.png 1x, options-lines@2x.png 2x">
		
	<div id="n__________">
		<span>갑자기 급하게 타지에 갈 일이 생겼는데 맡아주실 분도 없고 난감하네요 </span>
	</div>
	<div id="n______">
		<span>광주 치평동 근처에 사시는 분이면 더 좋겠습니다.</span>
	</div>
	<div id="n_147">
		<svg class="n_46" viewBox="0 0 1920 150">
			<path id="n_46" d="M 0 0 L 1920 0 L 1920 150 L 88.5517578125 150 L 0 150 L 0 0 Z">
			</path>
		</svg>
		<div id="Text_d">
			<span>마이페이지</span>
		</div>
		<div id="Text_ea">
			<span>회원가입</span>
		</div>
		<div id="Text_eb">
			<span>로그인</span>
		</div>
		<svg class="search_square_1">
			<rect id="search_square_1" rx="12" ry="12" x="0" y="0" width="420" height="44">
			</rect>
		</svg>
		<div id="Text_ec">
			<span>카테고리</span>
		</div>
		<div id="Text_ed">
			<span>펫산책</span>
		</div>
		<div id="Text_ee">
			<span>펫지도</span>
		</div>
		<div id="Text_ef">
			<span>플레이스</span>
		</div>
		<div id="Text_eg">
			<span>커뮤니티</span>
		</div>
		<div id="category_ikon">
			<svg class="n_11_ef">
				<rect id="n_11_ef" rx="0" ry="0" x="0" y="0" width="24" height="24">
				</rect>
			</svg>
			<svg class="n_14">
				<rect id="n_14" rx="0" ry="0" x="0" y="0" width="16" height="2">
				</rect>
			</svg>
			<svg class="n_15">
				<rect id="n_15" rx="0" ry="0" x="0" y="0" width="16" height="2">
				</rect>
			</svg>
			<svg class="n_16_ei">
				<rect id="n_16_ei" rx="0" ry="0" x="0" y="0" width="16" height="2">
				</rect>
			</svg>
		</div>
		<svg class="gnb_first_line">
			<rect id="gnb_first_line" rx="0" ry="0" x="0" y="0" width="1920" height="1">
			</rect>
		</svg>
		<div id="search_ikon">
			<svg class="n_49" viewBox="0 0 18 18">
				<path id="n_49" d="M 9 0 C 13.97056198120117 0 18 4.02943754196167 18 9 C 18 13.97056198120117 13.97056198120117 18 9 18 C 4.02943754196167 18 0 13.97056198120117 0 9 C 0 4.02943754196167 4.02943754196167 0 9 0 Z">
				</path>
			</svg>
			<svg class="n_48" viewBox="0 0 8 6">
				<path id="n_48" d="M 0 0 L 4.5 3.375 L 8 6">
				</path>
			</svg>
		</div>
		<div id="main_logo">
			<div id="Pet__eeting">
				<span>Pet  eeting</span>
			</div>
			<svg class="n_1" viewBox="263.504 235.945 1 1">
				<path id="n_1" d="M 263.5039367675781 235.9451904296875">
				</path>
			</svg>
			<svg class="n_2_eq" viewBox="264.692 194.957 46.517 27.897">
				<path id="n_2_eq" d="M 264.6917724609375 222.8539276123047 C 265.0390625 222.5028381347656 266.3126220703125 222.3018951416016 266.8865356445312 221.7268218994141 C 267.2178955078125 221.3944702148438 267.7895812988281 220.8252716064453 268.4191589355469 220.2022857666016 C 291.2261962890625 197.6316375732422 301.9260864257812 193.7502593994141 307.1760559082031 195.2374572753906 C 310.2372436523438 196.0942993164062 310.9759826660156 199.2908630371094 311.1828308105469 201.431884765625 L 311.2071533203125 201.8827209472656 L 311.2071533203125 201.8827667236328 C 311.2098388671875 201.7675170898438 311.2071533203125 201.8827667236328 311.2071533203125 201.8827667236328">
				</path>
			</svg>
			<svg class="n_3_er" viewBox="309.781 200.85 37.21 19.111">
				<path id="n_3_er" d="M 311.0874633789062 217 L 311.0874633789062 217 L 309.78125 216.921875 L 311.0874633789062 217.1515655517578 C 311.1528625488281 217.0839080810547 343.8019104003906 183.1667327880859 346.4369201660156 213.3775939941406 C 346.4686889648438 213.7288513183594 346.9639892578125 219.2596740722656 346.9917297363281 219.9618072509766">
				</path>
			</svg>
			<svg class="n_12_es">
				<rect id="n_12_es" rx="0" ry="0" x="0" y="0" width="44" height="44">
				</rect>
			</svg>
			<svg class="n_13">
				<rect id="n_13" rx="4" ry="4" x="0" y="0" width="28" height="24">
				</rect>
			</svg>
			<svg class="n_1_eu" viewBox="0 0 8 8">
				<path id="n_1_eu" d="M 3.10557222366333 1.788854360580444 C 3.474096775054932 1.051805734634399 4.525902271270752 1.051805734634399 4.894426345825195 1.788854360580444 L 7.276392459869385 6.552786350250244 C 7.608843326568604 7.217687606811523 7.12534761428833 8 6.381965160369873 8 L 1.6180340051651 8 C 0.8746520280838013 8 0.3911562263965607 7.217687606811523 0.7236067056655884 6.552786350250244 Z">
				</path>
			</svg>
			<svg class="n_4_ev" viewBox="0 0 8 8">
				<path id="n_4_ev" d="M 3.10557222366333 1.788854360580444 C 3.474096775054932 1.051805734634399 4.525902271270752 1.051805734634399 4.894426345825195 1.788854360580444 L 7.276392459869385 6.552786350250244 C 7.608843326568604 7.217687606811523 7.12534761428833 8 6.381965160369873 8 L 1.6180340051651 8 C 0.8746520280838013 8 0.3911562263965607 7.217687606811523 0.7236067056655884 6.552786350250244 Z">
				</path>
			</svg>
			<svg class="n_6_ew">
				<ellipse id="n_6_ew" rx="0.5" ry="0.5" cx="0.5" cy="0.5">
				</ellipse>
			</svg>
			<svg class="n_7_ex">
				<ellipse id="n_7_ex" rx="0.5" ry="0.5" cx="0.5" cy="0.5">
				</ellipse>
			</svg>
		</div>
		<div id="n____">
			<span>친구들의 위치가 궁금한 장소를 검색해보세요</span>
		</div>
		<div id="GNB_IKON_">
			<img id="log_in_ikon" src="/static/img/log_in_ikon.png" srcset="/static/img/log_in_ikon.png 1x, log_in_ikon@2x.png 2x">
				
			<div id="signup_ikon">
				<svg class="n_42_e">
					<rect id="n_42_e" rx="4" ry="4" x="0" y="0" width="26" height="26">
					</rect>
				</svg>
				<svg class="n_46_e">
					<rect id="n_46_e" rx="4" ry="4" x="0" y="0" width="26" height="26">
					</rect>
				</svg>
			</div>
			<img id="my_page_ikon" src="/static/img/my_page_ikon.png" srcset="/static/img/my_page_ikon.png 1x, my_page_ikon@2x.png 2x">
				
		</div>
		<div id="Text_e">
			<span>펫채팅</span>
		</div>
	</div>
	<svg class="n_236">
		<rect id="n_236" rx="0" ry="0" x="0" y="0" width="1920" height="1447">
		</rect>
	</svg>
	<div id="popuplogin">
		<div id="n_______e">
			<span>근처 이웃과 채팅으로 산책을 해보세요  </span>
		</div>
		<svg class="n_31" viewBox="0 28 1 1">
			<path id="n_31" d="M 0 28 L 0 28 Z">
			</path>
		</svg>
		<svg class="n_27">
			<rect id="n_27" rx="20" ry="20" x="0" y="0" width="510" height="662">
			</rect>
		</svg>
		<div id="n_9_fb">
			<svg class="n_25_fc">
				<rect id="n_25_fc" rx="0" ry="0" x="0" y="0" width="400" height="56">
				</rect>
			</svg>
			<svg class="n_26">
				<rect id="n_26" rx="0" ry="0" x="0" y="0" width="400" height="1">
				</rect>
			</svg>
		</div>
		<div id="n__fe">
			<span>아이디를 입력하세요</span>
		</div>
		<svg class="n_25_ff">
			<rect id="n_25_ff" rx="0" ry="0" x="0" y="0" width="400" height="56">
			</rect>
		</svg>
		<svg class="n_26_fg">
			<rect id="n_26_fg" rx="0" ry="0" x="0" y="0" width="400" height="1">
			</rect>
		</svg>
		<div id="n__fh">
			<span>비밀번호를 입력하세요</span>
		</div>
		<svg class="n_9_fi">
			<ellipse id="n_9_fi" rx="11" ry="11" cx="11" cy="11">
			</ellipse>
		</svg>
		<div id="n___fj">
			<span>로그인 상태 유지</span>
		</div>
		<div id="Text_fk">
			<span>아이디/비밀번호</span>
		</div>
		<div id="n_13_fl">
			<svg class="n_25_fm">
				<rect id="n_25_fm" rx="0" ry="0" x="0" y="0" width="400" height="56">
				</rect>
			</svg>
			<svg class="n_26_fn">
				<rect id="n_26_fn" rx="0" ry="0" x="0" y="0" width="400" height="1">
				</rect>
			</svg>
		</div>
		<div id="n__fo">
			<span>로그인 </span>
		</div>
		<svg class="n_7_fp" viewBox="0 0 400 56">
			<path id="n_7_fp" d="M 0 0 L 400 0 L 400 56 L 0 56 L 0 0 Z">
			</path>
		</svg>
		<svg class="n_11_fq" viewBox="0 0 400 1">
			<path id="n_11_fq" d="M 0 0 L 394.7344665527344 0 L 400 0 L 400 1 L 0 1 L 0 0 Z">
			</path>
		</svg>
		<div id="n_14_fr">
			<div id="SNS__">
				<span>SNS로 간편하게 시작하기</span>
			</div>
		</div>
		<svg class="n_10_ft">
			<ellipse id="n_10_ft" rx="24" ry="24" cx="24" cy="24">
			</ellipse>
		</svg>
		<img id="Ellipse" src="/static/img/Ellipse.png" srcset="/static/img/Ellipse.png 1x, Ellipse@2x.png 2x">
			
		<svg class="n_12_fv">
			<ellipse id="n_12_fv" rx="24" ry="24" cx="24" cy="24">
			</ellipse>
		</svg>
		<svg class="n_13_fw">
			<ellipse id="n_13_fw" rx="24" ry="24" cx="24" cy="24">
			</ellipse>
		</svg>
		<svg class="n_6_fx" viewBox="1069.046 1210.491 20 20">
			<path id="n_6_fx" d="M 1069.045776367188 1230.4912109375 L 1069.045776367188 1210.4912109375 L 1075.88916015625 1210.4912109375 L 1081.506591796875 1218.631469726562 L 1081.506591796875 1210.4912109375 L 1089.045776367188 1210.4912109375 L 1089.045776367188 1222.326782226562 L 1089.045776367188 1230.4912109375 L 1081.506591796875 1230.4912109375 L 1075.88916015625 1221.026000976562 L 1075.88916015625 1230.4912109375 L 1069.045776367188 1230.4912109375 Z">
			</path>
		</svg>
		<img id="Rectangle" src="/static/img/Rectangle.png" srcset="/static/img/Rectangle.png 1x, Rectangle@2x.png 2x">
			
		<img id="apple-logo" src="/static/img/apple-logo.png" srcset="/static/img/apple-logo.png 1x, apple-logo@2x.png 2x">
			
		<img id="google" src="/static/img/google.png" srcset="/static/img/google.png 1x, google@2x.png 2x">
			
		<div id="n_17">
			<div id="n_16_f">
				<div id="n_15_f">
					<svg class="n_25_f">
						<rect id="n_25_f" rx="4" ry="4" x="0" y="0" width="400" height="56">
						</rect>
					</svg>
					<svg class="n_26_f">
						<rect id="n_26_f" rx="0" ry="0" x="0" y="0" width="400" height="1">
						</rect>
					</svg>
				</div>
				<div id="Text_f">
					<span>회원가입</span>
				</div>
			</div>
		</div>
		<div id="n_19">
			<svg class="n_10_f" viewBox="1605.023 1201.479 4 8">
				<path id="n_10_f" d="M 1605.023193359375 1201.478515625 L 1609.023193359375 1205.167358398438 L 1605.023193359375 1209.478515625">
				</path>
			</svg>
		</div>
		<svg class="n_29" viewBox="0 0 20 20">
			<path id="n_29" d="M 20 0 L 15.00000190734863 5 L 0 20">
			</path>
		</svg>
		<svg class="n_30" viewBox="0 0 20 20">
			<path onclick="application.goToTargetView(event)" id="n_30" d="M 20 2.300361012785856e-09 L 15 5 L 2.990468761510101e-09 20">
			</path>
		</svg>
	</div>
</div>
</body>
</html>